.cube-face-left {
  /* background: blue; */
}

.cube-face-right {
  /* background: red; */
}

.orbit-container {
  position: fixed;
  right: 20%;
  bottom: 20%;
}

.main-container {
  height: 80vh;
  width: 80vw;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 50px;
  left: 50px;
}

.scroll-placeholder-container {
  width: 100%;
  background: red;
  margin-top: 100vh;
}
