* {
  padding: 0;
  margin: 0;
}

body,
html,
#app {
  height: 100%;
  width: 100%;
  /** Without this,
  UX is very bad on touch devices,
  as it will reload on scroll etc **/
  overscroll-behavior: contain;
}

.orbit-container {
  position: fixed;
  right: 3em;
  bottom: 3em;
}
