:root {
  --faceTransparency: 0.7;
  --size: 120px;
  --fontSize: 1.4rem;
}

.control-element-container,
.control-element-container * {
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  cursor: default;
}

.control-element-container {
  width: 100%;
  height: 100%;
  perspective: 400px;
}

.control-element {
  width: var(--size);
  height: var(--size);
  position: relative;
  transform-style: preserve-3d;
  transform: scale(var(--zoomFactor)) translateZ(-100px)
    rotate3d(1, 0, 0, var(--rotX)) rotate3d(0, 1, 0, var(--rotY));
}

.cube-face {
  position: absolute;
  width: var(--size);
  height: var(--size);
  border: 2px solid black;
  line-height: var(--size);
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: var(--fontSize);
  transition: background 0.2s;
}

.cube-face:hover {
  --faceTransparency: 1;
  cursor: pointer;
}

.cube-face-front {
  background: rgba(0, 0, 0, var(--faceTransparency));
  transform: rotateY(0deg) translateZ(calc(var(--size) / 2));
}
.cube-face-right {
  background: rgba(200, 200, 200, var(--faceTransparency));
  transform: rotateY(90deg) translateZ(calc(var(--size) / 2));
}
.cube-face-back {
  background: rgba(0, 0, 0, var(--faceTransparency));
  transform: rotateY(180deg) translateZ(calc(var(--size) / 2));
}
.cube-face-left {
  background: rgba(200, 200, 200, var(--faceTransparency));
  transform: rotateY(-90deg) translateZ(calc(var(--size) / 2));
}
.cube-face-top {
  background: rgba(100, 100, 100, var(--faceTransparency));
  transform: rotateX(90deg) translateZ(calc(var(--size) / 2));
}
.cube-face-bottom {
  background: rgba(100, 100, 100, var(--faceTransparency));
  transform: rotateX(-90deg) translateZ(calc(var(--size) / 2));
}
